$font-stack:Helvetica, sans-serif;
$primary-color: #363636;
$text-color : #A8A7A7;
$secondary-color: #474747;   
$border-color :#CC527A;
  
body {
    background-color:  $primary-color ;
    color: $text-color ;
    font: 100% $font-stack;
  }
  

