$font-stack:Helvetica, sans-serif;
$primary-color: #363636;
$text-color : #A8A7A7;
$secondary-color: #474747;   
$border-color :#CC527A;
  
body {
    background-color:  $primary-color ;
    color: $text-color ;
    font: 100% $font-stack;
  }
  
.counter{
  border : 1px solid $border-color;
  //display: block;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin : 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: $text-color ;
  width: 5%;
  margin:1%;
  font-weight: bold;
  font-size : 20px;
}
